
body {
    font-family:'Lato', sans-serif;
    font-size: 16px;
    margin: 0;
    margin-top: 50px;
    background: url("https://images.pexels.com/photos/4472063/pexels-photo-4472063.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    color: #a5b0c2;


}
header {
    font-family: 'Bebas Neue';
    font-size: 30px;
    padding: 0;
    color: #000000;
}

h4 {
    font-family:'Lato', sans-serif;
    font-style: italic;
    font-size: 14px;
    margin: 0;
    color: #000000;
}

 .container{
   display: block;
   text-align: center;
 }
